<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
    <!--<membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" applicationName="/" />
	  --><!--<add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" requiresQuestionAndAnswer="false" enablePasswordRetrieval="false" enablePasswordReset="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" applicationName="/" />--><!--
      </providers>
    </membership>-->
  </system.web>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
<connectionStrings>
  <!--<add name="PMSEntities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S-VAIO;initial catalog=PMS;persist security info=True;user id=sa;password=admin@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
<add name="PMSEntities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MISHA-PC;initial catalog=PMS;persist security info=True;user id=sa;password=misha;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
<!--<add name="ApplicationServices" connectionString="data source=S-VAIO\MYSQLSERVER;Database=PMS;Uid=sa;Pwd=admin@123;" providerName="System.Data.SqlClient" />-->
</configuration>